// SCSS의 'VAR, MIXIN, FUNCTION을 공통으로 사용하기 위한 목적

// Font
$font-kr: "Pretendard", sans-serif;
$font-en: "Poppins", sans-serif;

@mixin fontSize($size) {
  font-size: clamp(10px, $size, 999rem);
}

// Layout inner
$layout_inner: 198rem;
$layout_inner_m: 20rem;
$layout_inner_pc_more: calc(50vw - 762px);

// Primary color
$color-white: #ffffff;
$color-black: #000000;

// Secondary color
$color-bg: #f0f4f7;
$color-gray1: #888888;
$color-gray2: #d9d9d9;
$color-blue: #2832e6;
$color-green: #00c01e;
$color-yellow: #ffc800;
$color-red: #ff3200;

/* Responsive */
@mixin screen($size) {
  @if $size == "pc_more" {
    @media (min-width: 1921px) {
      @content;
    }
  } @else if $size == "pc_only" {
    @media (min-width: 751px) and (max-width: 1920px) {
      @content;
    }
  } @else if $size == "pc" {
    @media (min-width: 751px) {
      @content;
    }
  } @else if $size == "tb" {
    @media (max-width: 1280px) {
      @content;
    }
  } @else if $size == "tb_only" {
    @media (min-width: 751px) and (max-width: 1280px) {
      @content;
    }
  } @else if $size == "mo" {
    @media (max-width: 750px) {
      @content;
    }
  }
}

/* Ellipsis */
@mixin ellip($col: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($col == 1) {
    white-space: nowrap;
  } @else {
    white-space: unset;
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $col;
  }
}
