/* Responsive */
/* Ellipsis */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("swiper.min.css");
@import url("layout.css");
@import url("header.css");
@import url("footer.css");
html {
  height: 100%;
  overflow-y: auto;
  font-size: 0.0520833318vw;
}

body {
  min-width: 280px;
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.75;
  word-wrap: break-word;
  word-break: keep-all;
}

body,
div,
p,
span,
a,
section,
label,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
header,
footer,
main,
b,
i,
strong,
select,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
object {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: 0 none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

img {
  display: block;
  border: none;
  width: 100%;
}

option {
  color: #000;
}

section {
  position: relative;
}

@media (max-width: 1280px) {
  body {
    font-size: 24rem;
  }
}
@media (max-width: 750px) {
  html {
    font-size: 1px;
  }
  body {
    font-size: 14rem;
    line-height: 1.45;
  }
}