@charset "UTF-8";
.tab_contents {
  width: 100%;
  margin: 50px auto;
}

.tab_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab_button {
  flex: 1;
  padding: 10px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab_button.active {
  background-color: #ccc;
}

.tab_content {
  display: none;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.tab_content.active {
  display: block;
}

/* 팝업 스타일 */
#popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

#popup h2 {
  margin-bottom: 20px;
}

#popup button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup button:hover {
  background-color: #0056b3;
}