@import "var";

.footer {
  background-color: $color-black;
  color: $color-white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 172rem 0;
  padding: 60rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  @include screen("mo") {
    display: block;
    padding: 30rem 0 40rem;
    position: relative;
    > * {
      padding: 0 20rem !important;
    }
  }
  .logo,
  .family_site {
    border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.2);
  }
  .logo {
    padding: 0 0 30rem 45rem;
    @include screen("mo") {
      padding-bottom: 30rem !important;
    }
    a {
      width: 112rem;
    }
  }
  .family_site {
    position: relative;
    z-index: 1;
    @include screen("mo") {
      border: none;
    }
    .family_site_select {
      width: 290rem;
      border-bottom: 1px solid $color-white;
      transform: translateY(1px);
      @include screen("mo") {
        margin-top: 32rem;
        width: 100%;
        font-size: 16rem;
      }
      cursor: pointer;
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: left;
        padding-bottom: 30rem;
        @include screen("mo") {
          padding-bottom: 20rem !important;
        }
        &::after {
          content: "";
          display: block;
          width: 10rem;
          height: 10rem;
          background: url(/src/images/common/arr_select.svg) no-repeat center
            center / contain;
          transition: 0.3s ease;
        }
      }
      &.on button::after {
        transform: rotate(180deg);
      }
      .link_list {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #808080;
        a {
          padding: 16rem 17rem;
          background: url(/src/images/common/arr_link02.svg) no-repeat right
            17rem center / 10rem auto;
          transition: 0.3s ease;
          &:hover {
            text-indent: 5rem;
          }
        }
      }
      &.on {
        .link_list {
          display: block;
        }
      }
    }
  }
  .cymbol {
    padding-left: 211rem;
    svg {
      width: 480rem;
      @include screen("mo") {
        width: 112rem;
        padding: 80rem 0 16rem;
      }
    }
  }
  .info {
    padding-right: 44rem;
    .ft_tit {
      font-size: 64rem;
      line-height: 1.25;
      margin-bottom: 207rem;
      @include screen("mo") {
        font-size: 32rem;
        margin-bottom: 204rem;
      }
    }
    .ft_contact {
      @include screen("mo") {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      .caption {
        a.tel {
          margin-bottom: 40rem;
          @include screen("mo") {
            margin-bottom: 30rem;
          }
        }
      }
      .insta {
        @include screen("mo") {
          margin-bottom: 50rem;
          font-size: 16rem;
        }
        span {
          transition: 0.3s ease;
          display: inline-block;
        }
        &:hover span {
          transform: translateX(5rem);
        }
        svg {
          display: inline-block;
          width: 12rem;
          height: 12rem;
          margin-left: 49rem;
          transform: translateY(1rem);
          @include screen("mo") {
            width: 10rem;
            height: 10rem;
            margin-left: 28rem;
          }
        }
      }
    }
  }
}

.scr_top_wrap {
  position: absolute;
  right: 0;
  top: 138rem;
  width: 0px;
  z-index: 99;
  .sticky_box {
    position: sticky;
    left: 0;
    top: 0;
    width: 0;
    height: 100vh;
  }
  .scr_top {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background-color: $color-black;
    position: absolute;
    right: 44rem;
    bottom: 44rem;
    overflow: hidden;
    @include screen("mo") {
      right: 20rem;
      bottom: 20rem;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url(/src/images/common/arr_link.svg) no-repeat center center/
        22rem auto;
      transform: rotate(-90deg);
      transition: 0.3s ease;
    }
    &:hover {
      &::before,
      &::after {
        transform: translateY(-100%) rotate(-90deg);
      }
    }
  }
}
