@import "var";

// poppins font
.pps {
  font-family: $font-en;
}

// color change
body {
  &.black_white {
    .h2_,
    .h3_,
    .h4_,
    .h5_,
    .sub_head,
    .sub_tit,
    .sub_tit2,
    .sub_tit3,
    .sub_tit4,
    .body_txt,
    .caption,
    p,
    strong,
    header {
      background-color: $color-black !important;
      color: $color-white !important;
    }
  }
  &.blue_yellow {
    .h2_,
    .h3_,
    .h4_,
    .h5_,
    .sub_head,
    .sub_tit,
    .sub_tit2,
    .sub_tit3,
    .sub_tit4,
    .body_txt,
    .caption,
    p,
    strong,
    header {
      background-color: $color-blue !important;
      color: $color-yellow !important;
    }
  }
  &.black_yellow {
    .h2_,
    .h3_,
    .h4_,
    .h5_,
    .sub_head,
    .sub_tit,
    .sub_tit2,
    .sub_tit3,
    .sub_tit4,
    .body_txt,
    .caption,
    p,
    strong,
    header {
      background-color: $color-black !important;
      color: $color-yellow !important;
    }
  }
}

// headline component
.h2_ {
  font-family: $font-en;
  font-size: 150rem;
  font-weight: 400;
  line-height: 1.07;
  @include screen("mo") {
    font-size: 40rem;
    line-height: 1.2;
  }
} // 히어로배너 타이틀

.h3_ {
  font-weight: 700;
  font-size: 100rem;
  line-height: 1.44;
  &.pps {
    font-weight: 600;
    line-height: 1.2;
  }
  @include screen("mo") {
    font-size: 40rem;
    line-height: 1.4 !important;
  }
} // 섹션 타이틀

.h4_ {
  font-weight: 400;
  font-size: 80rem;
  line-height: 1.25;
  @include screen("mo") {
    font-size: 32rem;
    line-height: 1.45;
  }
} // 섹션 타이틀2

.h5_ {
  font-family: $font-en;
  font-weight: 700;
  font-size: 24rem;
  line-height: 1.5;
  letter-spacing: 7px;
  @include screen("mo") {
    font-size: 14rem;
    line-height: 1.15;
  }
} // 섹션 소타이틀

// contents component
.sub_head {
  font-weight: 900;
  font-size: 16rem;
  line-height: 1.75;
  @include screen("mo") {
    font-size: 12rem;
  }
  &.pps {
    font-weight: 700;
  }
} // 서브 헤드라인

.sub_tit {
  font-size: 48rem;
  line-height: 1.5;
  font-weight: 400;
  @include screen("mo") {
    font-weight: 500;
    font-size: 24rem;
    line-height: 1.6;
  }
} // 설명형 타이틀1

.sub_tit2 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 1.47;
  @include screen("mo") {
    font-weight: 700;
    font-size: 32rem;
    line-height: 1.25;
  }
  &.pps {
    font-weight: 600;
  }
} // 설명형 타이틀2

.sub_tit3 {
  font-weight: 700;
  font-size: 24rem;
  line-height: 1.5;
  @include screen("mo") {
    font-size: 16rem;
  }
  &.pps {
    @include screen("pc") {
      font-weight: 600;
    }
  }
} // 설명형 타이틀3

.sub_tit4 {
  font-weight: 700;
  font-size: 16rem;
  line-height: 1.55;
  @include screen("mo") {
    // font-size: 14rem;
  }
} // 설명형 타이틀4

.body_txt {
  font-size: 20rem;
  line-height: 1.52;
  font-weight: 400;
  @include screen("mo") {
    font-size: 14rem;
    line-height: 1.55;
  }
} // 섹션 타이틀 본문

.caption {
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.43;
  @include screen("tb") {
    font-size: 21rem;
  }
  @include screen("mo") {
    font-size: 12rem;
    line-height: 1.3;
  }
} // 부연설명

// inner
.layout_inner {
  padding-left: $layout_inner !important;
  padding-right: $layout_inner !important;
  position: relative;
  @include screen("mo") {
    padding-left: $layout_inner_m !important;
    padding-right: $layout_inner_m !important;
  }
}
.layout_inner_l {
  padding-left: $layout_inner !important;
  position: relative;
  @include screen("mo") {
    padding-left: $layout_inner_m !important;
  }
}
.layout_inner_r {
  padding-right: $layout_inner !important;
  position: relative;
  @include screen("mo") {
    padding-right: $layout_inner_m !important;
  }
}
.layout_inner_w {
  padding-left: $layout_inner !important;
  position: relative;
  @include screen("mo") {
    padding-left: $layout_inner_m !important;
    padding-right: $layout_inner_m !important;
  }
}

.f_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// section txt
.section_tit {
  .h3_.pps {
    margin-top: 10rem;
  }
  .body_txt {
    margin-top: 40rem;
  }
  .btn_more {
    display: inline-flex;
    margin-top: 80rem;
  }
  @include screen("mo") {
    br:not(.mo) {
      display: none;
    }
    .h3_ {
      margin-top: 12rem !important;
    }
    .body_txt {
      margin-top: 20rem;
    }
    .btn_more {
      margin-top: 60rem;
    }
  }
}

// etc
.taC {
  text-align: center;
}
.taL {
  text-align: left;
}
.taR {
  text-align: right;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_top {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.dot_txt,
.dot_list > li {
  position: relative;
  padding-left: 18rem;
  @include screen("mo") {
    padding-left: 12rem;
  }
}
.dot_txt::before,
.dot_list > li::before {
  content: "•";
  display: block;
  position: absolute;
  left: 0;
  top: -2rem;
}

// img clip animation
[data-aos="clip-up"] {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  &.aos-animate {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

// Btn
.btn_more {
  background-color: transparent;
  border: none;
  text-align: center;
  display: flex;
  cursor: pointer;
  &::before {
    content: "Touch more";
    color: $color-white;
    background-color: $color-black;
    font-family: $font-en;
    font-weight: 700;
    width: 150rem;
    height: 56rem;
    line-height: 56rem;
    border-radius: 2rem;
  }
  &::after {
    content: "";
    width: 56rem;
    height: 56rem;
    background: $color-black url(/src/images/common/arr_link.svg) no-repeat
      center center / 40% auto;
    margin-left: 1px;
    border-radius: 2rem;
  }
}

.btn-play {
  margin-left: 10rem;
  margin-top: 0;
  &::before {
    content: "";
    width: 40rem;
    height: 40rem;
    position: relative;
    background-image: url(/src/images/common/kv_play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 1rem;
    display: block;
  }
}
.btn-pause {
  width: 40rem;
  height: 40rem;
  display: flex;
  &:before {
    content: "";
    width: 40rem;
    height: 40rem;
    position: relative;
    background-image: url(/src/images/common/kv_pause.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    left: 1rem;
    display: block;
  }
}

// Responsive
@include screen("pc") {
  .mo {
    display: none !important;
  }
}
@media (min-width: 1281px) {
  .tb {
    display: none !important;
  }
}
@include screen("mo") {
  .pc {
    display: none !important;
  }
}
