@charset "UTF-8";
/* Responsive */
/* Ellipsis */
#contents {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}

.pps {
  font-family: "Poppins", sans-serif;
}

body.black_white .h2_,
body.black_white .h3_,
body.black_white .h4_,
body.black_white .h5_,
body.black_white .sub_head,
body.black_white .sub_tit,
body.black_white .sub_tit2,
body.black_white .sub_tit3,
body.black_white .sub_tit4,
body.black_white .body_txt,
body.black_white .caption,
body.black_white p,
body.black_white strong,
body.black_white header,
body.black_white footer {
  background-color: #000000 !important;
  color: #ffffff !important;
}
body.blue_yellow .h2_,
body.blue_yellow .h3_,
body.blue_yellow .h4_,
body.blue_yellow .h5_,
body.blue_yellow .sub_head,
body.blue_yellow .sub_tit,
body.blue_yellow .sub_tit2,
body.blue_yellow .sub_tit3,
body.blue_yellow .sub_tit4,
body.blue_yellow .body_txt,
body.blue_yellow .caption,
body.blue_yellow p,
body.blue_yellow strong,
body.blue_yellow header,
body.blue_yellow footer {
  background-color: #2832e6 !important;
  color: #ffc800 !important;
}
body.blue_yellow path {
  fill: #ffc800 !important;
  stroke: #ffc800 !important;
}
body.black_yellow .h2_,
body.black_yellow .h3_,
body.black_yellow .h4_,
body.black_yellow .h5_,
body.black_yellow .sub_head,
body.black_yellow .sub_tit,
body.black_yellow .sub_tit2,
body.black_yellow .sub_tit3,
body.black_yellow .sub_tit4,
body.black_yellow .body_txt,
body.black_yellow .caption,
body.black_yellow p,
body.black_yellow strong,
body.black_yellow header,
body.black_yellow footer {
  background-color: #000000 !important;
  color: #ffc800 !important;
}
body.black_yellow path {
  fill: #ffc800 !important;
  stroke: #ffc800 !important;
}

.h2_ {
  font-size: clamp(10px, 150rem, 999rem);
  font-weight: 400;
  line-height: 1.07;
}
@media (max-width: 750px) {
  .h2_ {
    font-size: 40rem;
    line-height: 1.2;
  }
}

.h3_ {
  font-weight: 700;
  font-size: clamp(10px, 100rem, 999rem);
  line-height: 1.44;
}
.h3_.pps {
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 750px) {
  .h3_ {
    font-size: 40rem;
    line-height: 1.4 !important;
  }
}

.h4_ {
  font-weight: 400;
  font-size: clamp(10px, 80rem, 999rem);
  line-height: 1.25;
}
@media (max-width: 750px) {
  .h4_ {
    font-size: 32rem;
    line-height: 1.45;
  }
}

.h5_ {
  font-weight: 700;
  font-size: clamp(10px, 24rem, 999rem);
  line-height: 1.5;
  letter-spacing: 7px;
}
@media (max-width: 750px) {
  .h5_ {
    font-size: 14rem;
    line-height: 1.15;
  }
}

.sub_head {
  font-weight: 900;
  font-size: clamp(10px, 16rem, 999rem);
  line-height: 1.75;
}
@media (max-width: 750px) {
  .sub_head {
    font-size: 12rem;
  }
}
.sub_head.pps {
  font-weight: 700;
}

.sub_tit {
  font-size: clamp(10px, 48rem, 999rem);
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 750px) {
  .sub_tit {
    font-weight: 500;
    font-size: 20rem;
    line-height: 1.45;
  }
}

.sub_tit2 {
  font-size: clamp(10px, 40rem, 999rem);
  font-weight: 400;
  line-height: 1.47;
}
@media (max-width: 750px) {
  .sub_tit2 {
    font-weight: 700;
    font-size: 32rem;
    line-height: 1.25;
  }
}
.sub_tit2.pps {
  font-weight: 600;
}

.sub_tit3 {
  font-weight: 700;
  font-size: clamp(10px, 24rem, 999rem);
  line-height: 1.5;
}
@media (max-width: 750px) {
  .sub_tit3 {
    font-size: 16rem;
  }
}
@media (min-width: 751px) {
  .sub_tit3.pps {
    font-weight: 600;
  }
}

.sub_tit4 {
  font-weight: 700;
  font-size: clamp(10px, 16rem, 999rem);
  line-height: 1.55;
}
.body_txt {
  font-size: clamp(10px, 20rem, 999rem);
  line-height: 1.52;
  font-weight: 400;
}
@media (max-width: 750px) {
  .body_txt {
    font-size: 14rem;
    line-height: 1.55;
  }
}

.caption {
  font-weight: 400;
  font-size: clamp(10px, 14rem, 999rem);
  line-height: 1.43;
}
@media (max-width: 1280px) {
  .caption {
    font-size: 21rem;
  }
}
@media (max-width: 750px) {
  .caption {
    font-size: 12rem;
    line-height: 1.3;
  }
}

.layout_inner {
  padding-left: 198rem !important;
  padding-right: 198rem !important;
  position: relative;
}
@media (min-width: 1921px) {
  .layout_inner {
    padding-left: calc(50vw - 762px) !important;
    padding-right: calc(50vw - 762px) !important;
  }
}
@media (max-width: 750px) {
  .layout_inner {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}

.layout_inner_l {
  padding-left: 198rem !important;
  position: relative;
}
@media (min-width: 1921px) {
  .layout_inner_l {
    padding-left: calc(50vw - 762px) !important;
    padding-right: calc(50vw - 762px) !important;
  }
}
@media (max-width: 750px) {
  .layout_inner_l {
    padding-left: 20rem !important;
  }
}

.layout_inner_r {
  padding-right: 198rem !important;
  position: relative;
}
@media (min-width: 1921px) {
  .layout_inner_r {
    padding-left: calc(50vw - 762px) !important;
    padding-right: calc(50vw - 762px) !important;
  }
}
@media (max-width: 750px) {
  .layout_inner_r {
    padding-right: 20rem !important;
  }
}

.layout_inner_w {
  padding-left: 198rem !important;
  position: relative;
}
@media (min-width: 1921px) {
  .layout_inner_w {
    padding-left: calc(50vw - 762px) !important;
    padding-right: calc(50vw - 762px) !important;
  }
}
@media (max-width: 750px) {
  .layout_inner_w {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}

@media (max-width: 750px) {
  .layout_inner_m {
    position: relative;
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}
.f_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section_tit .h3_.pps {
  margin-top: 10rem;
}
.section_tit .body_txt,
.section_tit .sub_tit {
  margin-top: 40rem;
}
.section_tit .btn_more {
  display: inline-flex;
  margin-top: 80rem;
}
@media (max-width: 750px) {
  .section_tit .h3_ {
    margin-top: 12rem !important;
  }
  .section_tit .body_txt,
  .section_tit .sub_tit {
    margin-top: 20rem;
  }
  .section_tit .btn_more {
    margin-top: 60rem;
  }
}

.taC {
  text-align: center;
}

.taL {
  text-align: left;
}

.taR {
  text-align: right;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_top {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dot_txt,
.dot_list > li {
  position: relative;
  padding-left: 18rem;
}
@media (max-width: 750px) {
  .dot_txt,
  .dot_list > li {
    padding-left: 12rem;
  }
}

.dot_txt::before,
.dot_list > li::before {
  content: "•";
  display: block;
  position: absolute;
  left: 0;
  top: -2rem;
}

[data-aos=clip-up] {
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}
[data-aos=clip-up].aos-animate {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* keyvisual_css */
.keyvisual {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.keyvisual .container {
  position: relative;
  width: 100%;
  height: 100%;
}
.keyvisual .image_area {
  width: 100%;
  height: 100%;
}
.keyvisual .image_area picture {
  width: 100%;
  height: 100%;
}
.keyvisual .image_area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.keyvisual .image_area .dimmed {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
}
.keyvisual .image_area .circle {
  background: radial-gradient(circle, transparent 0%, #000000 100%);
}
.keyvisual .image_area .all {
  background-color: #000000;
}
.keyvisual .floating_area {
  position: absolute;
  right: 0;
  z-index: 2;
  bottom: 119rem;
  width: 100%;
  height: auto;
}
@media (max-width: 750px) {
  .keyvisual .floating_area {
    bottom: 80rem;
    top: 100rem;
  }
}
.keyvisual .floating_area .floating_txt {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: space-between;
  gap: 202rem;
}
@media (max-width: 750px) {
  .keyvisual .floating_area .floating_txt {
    padding-bottom: 24rem;
    gap: 0;
    height: 100%;
  }
}
.keyvisual .floating_area .floating_txt .kv_tit {
  overflow: hidden;
  padding-bottom: 20rem;
}
.keyvisual .floating_area .floating_txt .kv_tit span {
  display: inline-block;
  transform: translateY(120%);
}
.keyvisual .floating_area .floating_txt .kv_tit span.aos-animate {
  transform: translateY(0%);
}
.keyvisual .floating_area .floating_txt .infor_txt {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 750px) {
  .keyvisual .floating_area .floating_txt .infor_txt {
    gap: 32rem;
    flex-direction: column;
  }
}
.keyvisual .floating_area .floating_txt .infor_txt .sensee_symbol_logo {
  flex-shrink: 0;
  width: 137.957rem;
  height: 46rem;
}
@media (max-width: 750px) {
  .keyvisual .floating_area .floating_txt .infor_txt .sensee_symbol_logo {
    width: 88rem;
    height: 30rem;
  }
}
.keyvisual .floating_area .floating_txt .infor_txt .kv_desc {
  flex-shrink: 0;
  padding-right: 20rem;
  width: 952rem;
  position: relative;
  padding-bottom: 41rem;
}
@media (min-width: 1921px) {
  .keyvisual .floating_area .floating_txt .infor_txt .kv_desc {
    width: auto;
  }
}
@media (max-width: 750px) {
  .keyvisual .floating_area .floating_txt .infor_txt .kv_desc {
    padding-right: 0;
    width: 100%;
  }
}
.keyvisual .floating_area .floating_txt .infor_txt .kv_desc p {
  transform: translateY(100%);
  transition: 1s ease;
}
.keyvisual .floating_area .floating_txt .infor_txt .kv_desc::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  opacity: 0.3;
  background: #fff;
  width: 100vw;
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.5s ease;
}
.keyvisual .floating_area .floating_txt .infor_txt .kv_desc.aos-animate p {
  transform: translateY(0%);
}
.keyvisual .floating_area .floating_txt .infor_txt .kv_desc.aos-animate::after {
  transform: scaleX(1);
}

.btn_more {
  background-color: transparent;
  border: none;
  text-align: center;
  display: flex;
  cursor: pointer;
}
.btn_more::before {
  content: "Touch more";
  color: #ffffff;
  background-color: #000000;
  font-weight: 700;
  width: 150rem;
  height: 56rem;
  line-height: 56rem;
  border-radius: 2rem;
}
.btn_more::after {
  content: "";
  width: 56rem;
  height: 56rem;
  background: #000000 url(/src/images/common/arr_link.svg) no-repeat center center/40% auto;
  margin-left: 1px;
  border-radius: 2rem;
}

.sld_nav {
  position: absolute;
  right: 44rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 750px) {
  .sld_nav {
    left: 20rem;
    right: 20rem;
    top: auto;
    bottom: 40rem;
    transform: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.sld_nav span {
  display: block;
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  background: #000000 url(/src/images/common/arr_sld.svg) no-repeat center center/6rem auto;
  cursor: pointer;
  transition: 0.3s ease;
}
.sld_nav span.prv {
  transform: rotate(180deg);
  margin-top: 20rem;
}
@media (max-width: 750px) {
  .sld_nav span.prv {
    margin-top: 0;
  }
}
.sld_nav span.swiper-button-disabled {
  cursor: default;
  opacity: 0.5;
}

.btn_ctrl {
  display: block;
  width: 24rem;
  height: 24rem;
  cursor: pointer;
  background: no-repeat center center/contain;
}
.btn_ctrl.pause {
  background-image: url(/src/images/common/kv_pause.svg);
}
.btn_ctrl.play {
  background-image: url(/src/images/common/kv_play.svg);
}

.cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #000000;
  width: 93rem;
  height: 93rem;
  border-radius: 50%;
  transition: 0.5s ease, 1s cubic-bezier(0.75, -0.27, 0.3, 1.33) transform, 0.2s ease left, 0.2s ease top;
  user-select: none;
  pointer-events: none;
  z-index: 999999;
  transform: translate(-50%, -50%) scale(0.28);
  mix-blend-mode: difference;
}
.cursor.on {
  transform: translate(-50%, -50%) scale(1);
}

.x_scrollbar {
  overflow-x: auto;
  padding-bottom: 10rem;
}
.x_scrollbar::-webkit-scrollbar {
  display: block;
  height: 5px;
}
.x_scrollbar::-webkit-scrollbar-thumb {
  transition: 0.5s ease;
  background-color: transparent;
}
.x_scrollbar.on::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

@media (min-width: 751px) {
  .mo {
    display: none !important;
  }
}
@media (min-width: 1281px) {
  .tb {
    display: none !important;
  }
}
@media (max-width: 750px) {
  .pc {
    display: none !important;
  }
}