/* Responsive */
/* Ellipsis */
.pps {
  font-family: "Poppins", sans-serif;
}

.h2_ {
  font-family: "Poppins", sans-serif;
  font-size: 150rem;
  font-weight: 400;
  line-height: 1.07;
}
@media (max-width: 750px) {
  .h2_ {
    font-size: 40rem;
    line-height: 1.2;
  }
}

.h3_ {
  font-weight: 700;
  font-size: 100rem;
  line-height: 1.45;
}
@media (max-width: 750px) {
  .h3_ {
    font-size: 40rem;
  }
}
.h3_.pps {
  font-weight: 600;
}
@media (max-width: 750px) {
  .h3_.pps {
    line-height: 1.2;
  }
}

.h4_ {
  font-weight: 400;
  font-size: 80rem;
  line-height: 1.25;
}
@media (max-width: 750px) {
  .h4_ {
    font-size: 32rem;
    line-height: 1.45;
  }
}

.h5_ {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24rem;
  line-height: 1.5;
  letter-spacing: 7px;
}
@media (max-width: 750px) {
  .h5_ {
    font-size: 14rem;
    line-height: 1.15;
    letter-spacing: 12px;
  }
}

.sub_head {
  font-weight: 900;
  font-size: 16rem;
  line-height: 1.75;
}
@media (max-width: 750px) {
  .sub_head {
    font-size: 12rem;
  }
}
.sub_head.pps {
  font-weight: 700;
}

.sub_tit {
  font-size: 48rem;
  line-height: 1.5;
  font-weight: 400;
}
@media (max-width: 750px) {
  .sub_tit {
    font-weight: 500;
    font-size: 24rem;
    line-height: 1.6;
  }
}

.sub_tit2 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 1.47;
}
@media (max-width: 750px) {
  .sub_tit2 {
    font-weight: 700;
    font-size: 32rem;
    line-height: 1.25;
  }
}
.sub_tit2.pps {
  font-weight: 600;
}

.sub_tit3 {
  font-weight: 700;
  font-size: 24rem;
  line-height: 1.5;
}
@media (max-width: 750px) {
  .sub_tit3 {
    font-size: 16rem;
  }
}
@media (min-width: 751px) {
  .sub_tit3.pps {
    font-weight: 600;
  }
}

.body_txt {
  font-size: 20rem;
  line-height: 1.52;
  font-weight: 400;
}
@media (max-width: 750px) {
  .body_txt {
    font-size: 14rem;
    line-height: 1.55;
  }
}

.caption {
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.49;
}
@media (max-width: 750px) {
  .caption {
    font-size: 12rem;
    line-height: 1.3;
  }
}

@media (min-width: 751px) {
  .mo {
    display: none !important;
  }
}
@media (min-width: 1281px) {
  .tb {
    display: none !important;
  }
}
@media (max-width: 750px) {
  .pc {
    display: none !important;
  }
}