@import "var";

// poppins font
.pps {
  font-family: $font-en;
}

// headline component
.h2_ {
  font-family: $font-en;
  font-size: 150rem;
  font-weight: 400;
  line-height: 1.07;
  @include screen("mo") {
    font-size: 40rem;
    line-height: 1.2;
  }
} // 히어로배너 타이틀

.h3_ {
  font-weight: 700;
  font-size: 100rem;
  line-height: 1.45;
  @include screen("mo") {
    font-size: 40rem;
  }
  &.pps {
    font-weight: 600;
    @include screen("mo") {
      line-height: 1.2;
    }
  }
} // 섹션 타이틀

.h4_ {
  font-weight: 400;
  font-size: 80rem;
  line-height: 1.25;
  @include screen("mo") {
    font-size: 32rem;
    line-height: 1.45;
  }
} // 섹션 타이틀2

.h5_ {
  font-family: $font-en;
  font-weight: 700;
  font-size: 24rem;
  line-height: 1.5;
  letter-spacing: 7px;
  @include screen("mo") {
    font-size: 14rem;
    line-height: 1.15;
    letter-spacing: 12px;
  }
} // 섹션 소타이틀

// contents component
.sub_head {
  font-weight: 900;
  font-size: 16rem;
  line-height: 1.75;
  @include screen("mo") {
    font-size: 12rem;
  }
  &.pps {
    font-weight: 700;
  }
} // 서브 헤드라인

.sub_tit {
  font-size: 48rem;
  line-height: 1.5;
  font-weight: 400;
  @include screen("mo") {
    font-weight: 500;
    font-size: 24rem;
    line-height: 1.6;
  }
} // 설명형 타이틀1

.sub_tit2 {
  font-size: 40rem;
  font-weight: 400;
  line-height: 1.47;
  @include screen("mo") {
    font-weight: 700;
    font-size: 32rem;
    line-height: 1.25;
  }
  &.pps {
    font-weight: 600;
  }
} // 설명형 타이틀2

.sub_tit3 {
  font-weight: 700;
  font-size: 24rem;
  line-height: 1.5;
  @include screen("mo") {
    font-size: 16rem;
  }
  &.pps {
    @include screen("pc") {
      font-weight: 600;
    }
  }
} // 설명형 타이틀3

.body_txt {
  font-size: 20rem;
  line-height: 1.52;
  font-weight: 400;
  @include screen("mo") {
    font-size: 14rem;
    line-height: 1.55;
  }
} // 섹션 타이틀 본문

.caption {
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.43;
  @include screen("tb") {
    font-size: 21rem;
  }
  @include screen("mo") {
    font-size: 12rem;
    line-height: 1.3;
  }
} // 부연설명

// inner
.inner {
  padding-left: 198rem !important;
  padding-right: 198rem !important;
  position: relative;
  @include screen("mo") {
    padding-left: 20rem !important;
    padding-right: 20rem !important;
  }
}

// section txt
.section_tit {
  .h5_ {
  }
  .h2_ {
  }
  .body_txt {
    margin-top: 40rem;
  }
}

// etc
.taC {
  text-align: center;
}
.taL {
  text-align: center;
}
.taR {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex_cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_top {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.flex_btm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

// 특정 해상도에서만
@include screen("pc") {
  .mo {
    display: none !important;
  }
}
@media (min-width: 1281px) {
  .tb {
    display: none !important;
  }
}
@include screen("mo") {
  .pc {
    display: none !important;
  }
}
