@charset "UTF-8";
/* Responsive */
/* Ellipsis */
.location_inner {
  padding-top: 200rem;
  padding-bottom: 240rem;
}
@media (max-width: 750px) {
  .location_inner {
    padding-top: 70rem;
    padding-bottom: 160rem;
  }
}
.location_inner .tit_wrap {
  padding-bottom: 8rem;
  border-bottom: 1px solid #d9d9d9;
}
.location_inner .tab_contents {
  width: 100%;
  margin: 50rem auto;
}
.location_inner .tab_contents .tab_buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 50rem;
  gap: 20rem;
}
@media (max-width: 750px) {
  .location_inner .tab_contents .tab_buttons {
    justify-content: flex-start;
    padding-left: 20rem;
    padding-right: 20rem;
    gap: 11rem;
    padding-bottom: 10rem;
    margin-bottom: 44rem;
  }
}
.location_inner .tab_contents .tab_buttons .tab_button {
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 14rem 35rem;
  line-height: 2;
  border-radius: 52rem;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 600;
  box-shadow: 0px 10rem 20rem 0px rgba(0, 0, 0, 0.1);
  width: 200rem;
}
.location_inner .tab_contents .tab_buttons .tab_button.active {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 750px) {
  .location_inner .tab_contents .tab_buttons .tab_button {
    flex: 0 0 auto;
    padding: 14rem 10rem;
    font-size: 12rem;
    white-space: nowrap;
    border-radius: 35rem;
    line-height: 1;
    width: 104px;
    height: 44rem;
    box-sizing: border-box;
    box-shadow: none;
    min-width: 104px;
  }
}
.location_inner .tab_contents .tab_content {
  display: none;
}
.location_inner .tab_contents .tab_content.active {
  display: block;
}

.tab_content .tab_content_tit {
  font-size: clamp(10px, 200rem, 999rem);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 80rem;
}
@media (max-width: 750px) {
  .tab_content .tab_content_tit {
    font-size: 52rem;
    margin-bottom: 40rem;
  }
}
.tab_content .sub_tab_buttons {
  display: flex;
  flex-direction: row;
  gap: 32rem;
  justify-content: center;
  margin-bottom: 100rem;
}
@media (max-width: 750px) {
  .tab_content .sub_tab_buttons {
    margin-bottom: 87rem;
  }
}
.tab_content .sub_tab_buttons .sub_tab_button {
  line-height: 1.6;
  padding-bottom: 4rem;
  color: #888888;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  font-size: clamp(10px, 20rem, 999rem);
}
@media (max-width: 750px) {
  .tab_content .sub_tab_buttons .sub_tab_button {
    font-size: 20rem;
  }
}
.tab_content .sub_tab_buttons .sub_tab_button.active {
  border-bottom: 2px solid #000000;
  color: #000000;
}
.tab_content .sub_tab_content {
  display: none;
  text-align: center;
}
.tab_content .sub_tab_content.active {
  display: block;
}
.tab_content .sub_tab_content .map_contents .map_desc {
  font-weight: 700;
  line-height: 1.5;
  font-size: clamp(10px, 16rem, 999rem);
}
@media (max-width: 750px) {
  .tab_content .sub_tab_content .map_contents .map_desc {
    font-size: 14rem;
  }
}

.map_contents {
  width: 100%;
}
.map_contents .map_content {
  margin-top: 24rem;
  position: relative;
  width: 100%;
  height: 700rem;
  border: 1px solid #d9d9d9;
  padding: 10rem;
}
@media (max-width: 750px) {
  .map_contents .map_content {
    margin-top: 16rem;
    height: 300rem;
    padding: 5rem;
    border: 1px solid #000000;
  }
}
.map_contents .map_content iframe {
  width: 100%;
  height: 100%;
}

.location_form {
  padding-bottom: 200rem;
  padding-top: 140rem;
  background-color: #f0f4f7;
}
.location_form .form_inner {
  padding: 0 129rem;
}
.location_form .form_tit {
  margin-bottom: 80rem;
}
.location_form .form_tit .tit_txt {
  font-size: clamp(10px, 260rem, 999rem);
  line-height: 1.46;
  font-weight: 600;
}
@media (max-width: 750px) {
  .location_form .form_tit .tit_txt {
    font-size: 56rem;
    line-height: 1;
  }
}
.location_form .form_wrap {
  display: flex;
  gap: 342rem;
}
.location_form .form_wrap .sensee_logo {
  padding-left: 229rem;
}
.location_form .form_wrap .form_contents {
  display: flex;
  flex-direction: column;
  gap: 42rem;
}
.location_form .form_wrap .form_contents .form_sub_tit .tit_txt {
  padding-bottom: 8rem;
  font-size: clamp(10px, 24rem, 999rem);
  line-height: 1.5;
  font-weight: 600;
}
@media (max-width: 750px) {
  .location_form .form_wrap .form_contents .form_sub_tit .tit_txt {
    font-size: 32rem;
    line-height: 1.3;
  }
}
.location_form .form_wrap .form_contents .form_sub_tit .desc {
  font-size: clamp(10px, 16rem, 999rem);
  line-height: 1.75;
  font-weight: 400;
}
@media (max-width: 750px) {
  .location_form .form_wrap .form_contents .form_sub_tit .desc {
    font-size: 14rem;
    line-height: 1.71;
  }
}

/* 팝업 스타일 */
#popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}
#popuph2 {
  margin-bottom: 20px;
}
#popupbutton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#popupbutton:hover {
  background-color: #0056b3;
}