/* Responsive */
/* Ellipsis */
.main_container {
  background-color: #f0f4f7 !important;
  overflow: hidden;
}
.main_container .main_visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: auto;
}
.main_container .main_visual .swiper {
  width: 100%;
  height: 100%;
}
.main_container .main_visual .swiper .swiper-slide {
  opacity: 0 !important;
}
.main_container .main_visual .swiper .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}
.main_container .main_visual .swiper .swiper-slide .main_visual_sld_view {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_container .main_visual .main_visual_cont {
  position: absolute;
  left: 0;
  bottom: 110rem;
  width: 100%;
  z-index: 1;
}
.main_container .main_visual .main_visual_cont .pagi {
  display: flex;
}
.main_container .main_visual .main_visual_cont .pagi .swiper-pagination-bullet {
  width: 100%;
  margin: 0;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  opacity: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 16rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
}
.main_container .main_visual .main_visual_cont .pagi .swiper-pagination-bullet i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transform-origin: left center;
  transform: scaleX(0);
  transition: 0.3s linear;
}
.main_container .main_visual .main_visual_cont .pagi .swiper-pagination-bullet span {
  font-weight: 700;
}
.main_container .main_visual .main_visual_cont .pagi .swiper-pagination-bullet p {
  margin-left: 16rem;
  font-size: 12rem;
}
.main_container .main_intro {
  padding: 288rem 0 200rem;
}
@media (max-width: 750px) {
  .main_container .main_intro {
    padding: 120rem 0 84rem;
  }
}
.main_container .main_intro .main_intro_visual {
  position: relative;
}
.main_container .main_intro .main_intro_visual i {
  display: block;
  width: 1px;
  height: 400rem;
  background-color: #000000;
  margin: 0 auto;
  transform: scaleY(0);
  transform-origin: left top;
  transition: 1s ease;
}
@media (max-width: 750px) {
  .main_container .main_intro .main_intro_visual i {
    height: 200rem;
    margin-top: 8rem;
  }
}
.main_container .main_intro .main_intro_visual i.aos-animate {
  transform: scaleY(1);
}
.main_container .main_intro .main_intro_visual .bg_tit {
  font-size: 220rem;
  line-height: 1.05;
  color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80rem;
}
@media (max-width: 750px) {
  .main_container .main_intro .main_intro_visual .bg_tit {
    font-size: 23.5vw;
    white-space: nowrap;
    top: 2vw;
  }
}
.main_container .main_intro .main_intro_visual .hand_img {
  margin-top: 147rem;
  position: relative;
}
@media (max-width: 750px) {
  .main_container .main_intro .main_intro_visual .hand_img {
    margin-top: 70rem;
    width: 128%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main_container .main_brand {
  padding-bottom: 500rem;
}
@media (max-width: 750px) {
  .main_container .main_brand {
    padding-bottom: 154rem;
  }
}
.main_container .main_brand .main_brand_info {
  padding: 0 94rem 147rem 0;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_info {
    padding: 0 20rem 80rem 0;
  }
}
.main_container .main_brand .main_brand_info .txt_box {
  width: max-content;
  margin: 160rem 0 0 auto;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_info .txt_box {
    width: 100%;
    margin: 20rem 0 0;
    padding-left: 70rem;
  }
}
.main_container .main_brand .main_brand_info .txt_box .txt_wrap {
  display: flex;
  gap: 49rem;
  margin-bottom: 96rem;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_info .txt_box .txt_wrap {
    flex-direction: column;
    gap: 20rem;
    margin-bottom: 60rem;
  }
  .main_container .main_brand .main_brand_info .txt_box .txt_wrap br {
    display: none;
  }
}
.main_container .main_brand .main_brand_visual {
  position: relative;
}
.main_container .main_brand .main_brand_visual .txt_box {
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_visual .txt_box {
    position: static;
    display: block;
  }
}
.main_container .main_brand .main_brand_visual .txt_box .tit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  padding: 0 182rem 32rem;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_visual .txt_box .tit {
    padding: 12rem 20rem 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.main_container .main_brand .main_brand_visual .txt_box .tit span {
  flex-shrink: 0;
  white-space: nowrap;
}
.main_container .main_brand .main_brand_visual .txt_box .tit i {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 0 8rem;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_visual .txt_box .tit i {
    margin: 0 5rem;
  }
}
.main_container .main_brand .main_brand_visual .txt_box .txt {
  flex-shrink: 0;
  background-color: #f0f4f7;
  padding: 144rem 322rem;
  position: relative;
}
@media (max-width: 750px) {
  .main_container .main_brand .main_brand_visual .txt_box .txt {
    padding: 38rem 43rem 0;
    margin: -122rem -1rem 0 117rem;
  }
}
.main_container .main_tech .tech_visual {
  position: relative;
  z-index: 1;
}
.main_container .main_tech .tech_visual .visual_wrap {
  padding-top: 138rem;
  overflow: hidden;
  position: relative;
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .visual_wrap {
    padding: 185rem 7rem 0;
  }
}
.main_container .main_tech .tech_visual .visual_wrap::before {
  content: "";
  width: 1682rem;
  height: 1682rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  bottom: -553rem;
  transition: 1s ease;
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .visual_wrap::before {
    width: 754rem;
    height: 754rem;
    bottom: -165rem;
  }
}
.main_container .main_tech .tech_visual .visual_wrap .mom_baby {
  width: 1122rem;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: -580rem;
  position: relative;
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .visual_wrap .mom_baby {
    width: 362rem;
    max-width: 100%;
    margin-bottom: -106rem;
  }
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .leaf_box {
    width: 362rem;
    max-width: 100%;
    height: 540rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.main_container .main_tech .tech_visual .leaf_box i {
  position: absolute;
}
.main_container .main_tech .tech_visual .leaf_box i.leaf1 {
  width: 304rem;
  top: 42rem;
  right: 119rem;
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .leaf_box i.leaf1 {
    width: 93rem;
    top: -60rem;
    right: -45rem;
  }
}
.main_container .main_tech .tech_visual .leaf_box i.leaf2 {
  width: 69rem;
  left: 145rem;
  top: 422rem;
  transform: rotate(-45deg);
}
.main_container .main_tech .tech_visual .leaf_box i.leaf3 {
  width: 160rem;
  right: 639rem;
  top: 474rem;
  transform: rotate(-60deg);
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .leaf_box i.leaf3 {
    width: 48rem;
    right: 48rem;
    top: 179rem;
  }
}
.main_container .main_tech .tech_visual .leaf_box i.leaf4 {
  width: 87rem;
  left: 417rem;
  bottom: 628rem;
  transform: rotate(60deg);
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .leaf_box i.leaf4 {
    width: 26rem;
    left: -9rem;
    bottom: auto;
    top: -28rem;
  }
}
.main_container .main_tech .tech_visual .leaf_box i.leaf5 {
  width: 117rem;
  left: 260rem;
  bottom: 155rem;
  transform: rotate(135deg);
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .leaf_box i.leaf5 {
    width: 73rem;
    left: 32rem;
    bottom: 200rem;
    transform: rotate(-141deg);
  }
}
.main_container .main_tech .tech_visual .leaf_box i.leaf6 {
  width: 678rem;
  right: -80rem;
  bottom: -312rem;
  transform: rotate(-120deg);
  filter: blur(10px);
}
@media (max-width: 750px) {
  .main_container .main_tech .tech_visual .leaf_box i.leaf6 {
    width: 204rem;
    right: -63rem;
    bottom: -95rem;
    filter: blur(4px);
  }
}
.main_container .main_tech .tech_visual .leaf_box i img {
  position: relative;
  top: 100rem;
  opacity: 0;
  transition: 1s ease, transform 0s;
}
.main_container .main_tech .tech_visual.aos-animate .visual_wrap::before {
  transform: translateX(-50%) scale(1);
  transition-delay: 0.2s;
}
.main_container .main_tech .tech_visual.aos-animate .leaf_box i img {
  top: 0;
  opacity: 1;
}
.main_container .main_together {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
  padding: 300rem 0;
}
@media (max-width: 750px) {
  .main_container .main_together {
    padding: 120rem 0 155rem;
  }
}
.main_container .main_together .section_tit .h3_ {
  font-size: 88rem;
  margin-top: 12rem;
}
@media (max-width: 750px) {
  .main_container .main_together .section_tit .h3_ {
    font-weight: 500;
    font-size: 40rem;
  }
  .main_container .main_together .section_tit .h3_ br {
    display: none;
  }
}
.main_container .main_together .main_together_visual {
  padding-bottom: 180rem;
  position: relative;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual {
    padding: 83rem 0 322rem;
  }
}
.main_container .main_together .main_together_visual .circle_box {
  width: 1284rem;
  height: 1284rem;
  position: relative;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box {
    width: 484rem;
    height: 484rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.main_container .main_together .main_together_visual .circle_box .ball {
  position: absolute;
  border-radius: 50%;
  width: 32rem;
  height: 32rem;
  transform: scale(0);
  opacity: 0;
  transition: 1s ease;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball {
    width: 12rem;
    height: 12rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.red {
  background-color: #ff3200;
}
.main_container .main_together .main_together_visual .circle_box .ball.blue {
  background-color: #2832e6;
}
.main_container .main_together .main_together_visual .circle_box .ball.green {
  background-color: #00c01e;
}
.main_container .main_together .main_together_visual .circle_box .ball.yellow {
  background-color: #ffc800;
}
.main_container .main_together .main_together_visual .circle_box .ball.ball1 {
  top: 51rem;
  right: 269rem;
  width: 18rem;
  height: 18rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball1 {
    top: 19rem;
    right: 101rem;
    width: 7rem;
    height: 7rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball2 {
  top: 112rem;
  left: 493rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball2 {
    top: 44rem;
    left: 186rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball3 {
  top: 240rem;
  right: 456rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball3 {
    top: 93rem;
    right: 172rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball4 {
  top: 339rem;
  left: -49rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball4 {
    top: 157rem;
    left: 100rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball5 {
  left: 265rem;
  top: 417rem;
}
.main_container .main_together .main_together_visual .circle_box .ball.ball6 {
  right: 370rem;
  top: 460rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball6 {
    top: 170rem;
    right: 143rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball7 {
  top: 688rem;
  right: -92rem;
  width: 16rem;
  height: 16rem;
}
.main_container .main_together .main_together_visual .circle_box .ball.ball8 {
  top: 747rem;
  left: 112rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball8 {
    top: 282rem;
    left: 43rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball9 {
  bottom: 433rem;
  right: 257rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball9 {
    bottom: 163rem;
    right: 99rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball10 {
  bottom: 217rem;
  left: 283rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball10 {
    bottom: 81rem;
    left: 107rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball11 {
  bottom: 234rem;
  right: 271rem;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .ball.ball11 {
    bottom: 88rem;
    right: 102rem;
  }
}
.main_container .main_together .main_together_visual .circle_box .ball.ball12 {
  left: 74rem;
  bottom: 145rem;
  width: 18rem;
  height: 18rem;
}
.main_container .main_together .main_together_visual .circle_box .circle {
  width: 100%;
  height: 100%;
  border: 5rem dotted transparent;
  border-radius: 50%;
  opacity: 10%;
  transform: translate(-50%, -50%) scale(0.7);
  transition: 1s ease;
}
.main_container .main_together .main_together_visual .circle_box .circle.circle2 {
  width: 82.6%;
  height: 82.6%;
  opacity: 33.3333%;
}
.main_container .main_together .main_together_visual .circle_box .circle.circle3 {
  width: 65.2%;
  height: 65.2%;
  opacity: 66.6666%;
}
.main_container .main_together .main_together_visual .circle_box .circle.circle4 {
  width: 47.8%;
  height: 47.8%;
  opacity: 99.9999%;
}
.main_container .main_together .main_together_visual .circle_box .logo_cymbol {
  width: 320rem;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: 1s ease;
}
@media (max-width: 750px) {
  .main_container .main_together .main_together_visual .circle_box .logo_cymbol {
    width: 121rem;
  }
}
.main_container .main_together .txt_box {
  border-top: 1px solid #ffffff;
  padding-top: 40rem;
  font-weight: 400;
}
@media (max-width: 750px) {
  .main_container .main_together .txt_box {
    padding-top: 28rem;
  }
  .main_container .main_together .txt_box p {
    position: relative;
    z-index: 1;
  }
}
.main_container .main_together .hand_img {
  width: 906rem;
  position: absolute;
  right: 152rem;
  bottom: -89rem;
  transform: translateY(10%);
  opacity: 0;
  transition: 1s ease;
}
@media (max-width: 750px) {
  .main_container .main_together .hand_img {
    width: 548rem;
    right: -303rem;
    bottom: 45rem;
  }
}
.main_container .main_together.on .main_together_visual .circle_box .logo_cymbol {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.main_container .main_together.on .main_together_visual .circle_box .circle {
  transform: translate(-50%, -50%) scale(1);
  border-color: #ffffff;
}
.main_container .main_together.on .main_together_visual .circle_box .circle.circle1 {
  transition-delay: 0.8s;
}
.main_container .main_together.on .main_together_visual .circle_box .circle.circle2 {
  transition-delay: 0.7s;
}
.main_container .main_together.on .main_together_visual .circle_box .circle.circle3 {
  transition-delay: 0.6s;
}
.main_container .main_together.on .main_together_visual .circle_box .circle.circle4 {
  transition-delay: 0.5s;
}
.main_container .main_together.on .main_together_visual .circle_box .ball {
  transform: scale(1);
  opacity: 1;
  transition-delay: 1s;
}
.main_container .main_together.on .hand_img {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}
.main_container .main_innovation {
  position: relative;
}
.main_container .main_innovation .sticky_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box {
    display: block;
    padding: 80rem 0 270rem;
    height: auto;
  }
}
.main_container .main_innovation .sticky_box .innovation_bg {
  width: 322rem;
  height: 181rem;
  position: absolute;
  left: 198rem;
  top: 118rem;
  z-index: 10;
  overflow: hidden;
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .innovation_bg {
    position: relative;
    left: -20rem;
    top: 0;
    width: calc(100% + 40rem);
    height: 100vh;
  }
}
.main_container .main_innovation .sticky_box .innovation_bg img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  transform: scale(1.2);
  width: 100%;
  height: 100%;
  filter: brightness(1);
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .innovation_bg img {
    height: 188rem;
    width: calc(100% - 40rem);
    left: 20rem;
    transform: scale(1);
  }
}
.main_container .main_innovation .sticky_box .innovation_bg p {
  font-size: 64rem;
  line-height: 1.35;
  width: 100%;
  text-align: center;
  transform: translateY(50%);
  opacity: 0;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .innovation_bg p {
    font-size: 32rem;
    padding: 0 20rem;
  }
}
.main_container .main_innovation .sticky_box .innovation_bg p strong {
  display: block;
  position: relative;
  transition: 1s ease;
  width: max-content;
  margin: 0 auto;
  background: linear-gradient(to right, #fff, #fff) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .innovation_bg p strong {
    display: inline;
  }
}
.main_container .main_innovation .sticky_box .sub_tit4 {
  font-size: 20rem;
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .sub_tit4 {
    font-size: 14rem;
  }
}
.main_container .main_innovation .sticky_box .h3_ {
  margin: 108rem 0 60rem;
  line-height: 1.5;
  font-size: clamp(10px, 80rem, 999rem);
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .h3_ {
    margin: 24rem 0 48rem;
    font-size: clamp(10px, 40rem, 999rem);
  }
}
.main_container .main_innovation .sticky_box .h3_ i {
  width: 352rem;
  display: inline-block;
}
.main_container .main_innovation .sticky_box .h5_ {
  padding-top: 20rem;
  border-top: 1px solid #000000;
}
@media (max-width: 750px) {
  .main_container .main_innovation .sticky_box .h5_ {
    margin-top: 60rem;
    padding-top: 24rem;
  }
}
.main_container .main_innovation .sticky_box .h5_ p {
  letter-spacing: 0;
}