@import "var";

.main_visual {
}
.main_container {
  background-color: $color-bg;
  .main_intro {
    padding: 288rem 0 1092rem;
    .bg_tit {
      display: block;
      margin-top: 222rem;
      font-size: 220rem;
      line-height: 1.05;
      color: #fff;
    }
    .hand_img {
      position: absolute;
      left: 0;
      top: 853rem;
      width: 100%;
    }
  }

  .main_brand {
    padding-bottom: 500rem;
    .main_brand_info {
      padding: 0 94rem 147rem 0;
      .txt_box {
        width: max-content;
        margin: 160rem 0 0 auto;
        .txt_wrap {
          display: flex;
          gap: 49rem;
          margin-bottom: 96rem;
        }
      }
    }
    .main_brand_visual {
      position: relative;
      .txt_box {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        .tit {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: $color-white;
          font-weight: 700;
          padding-bottom: 32rem;
          span + span {
            display: flex;
            align-items: center;
            &::before {
              content: "";
              width: 130rem;
              height: 1px;
              background-color: $color-white;
              margin: 0 8rem;
            }
          }
        }
        .txt {
          flex-shrink: 0;
          background-color: $color-bg;
          padding: 144rem 322rem;
        }
      }
    }
  }
  .main_tech {
    .tech_visual {
      margin-top: 138rem;
      position: relative;
      .visual_wrap {
        overflow: hidden;
        position: relative;
        &::before {
          content: "";
          width: 1682rem;
          height: 1682rem;
          border-radius: 50%;
          background-color: $color-white;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -553rem;
        }
        .mom_baby {
          width: 1122rem;
          margin: 0 auto;
          overflow: hidden;
          margin-bottom: -20rem;
          position: relative;
        }
      }
      .leaf {
        position: absolute;
        &.leaf1 {
          width: 304rem;
          top: 42rem;
          right: 119rem;
        }
        &.leaf2 {
          width: 69rem;
          left: 145rem;
          top: 422rem;
          transform: rotate(-45deg);
        }
        &.leaf3 {
          width: 160rem;
          right: 639rem;
          top: 474rem;
          transform: rotate(-60deg);
        }
        &.leaf4 {
          width: 87rem;
          left: 417rem;
          bottom: 628rem;
          transform: rotate(60deg);
        }
        &.leaf5 {
          width: 117rem;
          left: 260rem;
          bottom: 155rem;
          transform: rotate(135deg);
        }
        &.leaf6 {
          width: 678rem;
          right: -80rem;
          bottom: -312rem;
          transform: rotate(-120deg);
          filter: blur(10px);
        }
      }
    }
  }
  .main_sustain {
    padding-left: 198rem;
  }
}
