@import "var";

.main_container {
  background-color: $color-bg !important;
  overflow: hidden;
  .main_visual {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: $color-white;
    .swiper {
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
      .swiper-slide {
        // opacity: 0 !important;
        // &.swiper-slide-active {
        //   opacity: 1 !important;
        // }
        .main_visual_sld_view {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .main_visual_cont {
      position: absolute;
      left: 0;
      bottom: 110rem;
      width: 100%;
      z-index: 1;
      @include screen("mo") {
        bottom: 124rem;
      }
      .inner {
        position: relative;
        .h2_ {
          padding-bottom: 62rem;
          @include screen("mo") {
            padding-bottom: 39rem;
          }
          &::before {
            content: "";
            display: block;
            width: 138rem;
            height: 46rem;
            margin-bottom: 60rem;
            background: url(/src/images/common/logo_cymbol.svg) no-repeat center
              center / contain;
            @include screen("mo") {
              width: 88rem;
              height: 30rem;
              margin-bottom: 16rem;
            }
          }
        }
        .pagi {
          display: flex;
          .swiper-pagination-bullet {
            width: 100%;
            margin: 0;
            height: auto;
            border-radius: 0;
            background-color: transparent;
            opacity: 1;
            border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.2);
            padding-bottom: 16rem;
            display: flex;
            align-items: center;
            position: relative;
            color: rgba($color: $color-white, $alpha: 0.5);
            @include screen("mo") {
              display: none;
              padding-bottom: 24rem;
            }
            i {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background-color: $color-white;
              transform-origin: left center;
              transition: 3s linear;
              transform: scaleX(0);
            }
            span {
              font-weight: 600;
            }
            p {
              margin-left: 16rem;
              font-size: 12rem;
              transform: translateY(100%);
              opacity: 0;
              transition: 0.5s ease;
              display: inline-block;
              @include screen("mo") {
                margin-left: 7rem;
              }
            }
            &.swiper-pagination-bullet-active {
              color: $color-white;
              @include screen("mo") {
                display: block;
              }
              p {
                transform: translateY(0);
                opacity: 1;
              }
              i {
                animation: main_visual_pagi 3s linear;
                @keyframes main_visual_pagi {
                  0% {
                    transform: scaleX(0);
                  }
                  97% {
                    transform: scaleX(1);
                  }
                  100% {
                    transform: scaleX(1);
                  }
                }
              }
            }
          }
        }
        .btn_ctrl {
          position: absolute;
          right: 0;
          bottom: 13rem;
          width: 24rem;
          @include screen("mo") {
            bottom: 24rem;
          }
        }
      }
    }
    .sld_nav {
      span {
        background-color: rgba($color: $color-black, $alpha: 0.2);
        backdrop-filter: blur(5px);
        border: 1px solid $color-white;
      }
    }
  }
  .main_intro {
    padding: 288rem 0 200rem;
    @include screen("mo") {
      padding: 120rem 0 84rem;
    }
    .main_intro_visual {
      position: relative;
      i {
        display: block;
        width: 1px;
        height: 400rem;
        background-color: $color-black;
        margin: 0 auto;
        transform: scaleY(0);
        transform-origin: left top;
        transition: 1s ease;
        @include screen("mo") {
          height: 200rem;
          margin-top: 8rem;
        }
        &.aos-animate {
          transform: scaleY(1);
        }
      }
      .bg_tit {
        font-size: 220rem;
        line-height: 1.05;
        color: $color-white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 80rem;
        @include screen("mo") {
          font-size: 23.5vw;
          white-space: nowrap;
          top: 2vw;
        }
      }
      .hand_img {
        margin-top: 147rem;
        position: relative;
        @include screen("mo") {
          margin-top: 70rem;
          width: 128%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .main_brand {
    padding-bottom: 500rem;
    @include screen("mo") {
      padding-bottom: 154rem;
    }
    .main_brand_info {
      padding: 0 94rem 147rem 0;
      @include screen("mo") {
        padding: 0 20rem 80rem 0;
      }
      .txt_box {
        width: max-content;
        margin: 160rem 0 0 auto;
        @include screen("mo") {
          width: 100%;
          margin: 20rem 0 0;
          padding-left: 70rem;
        }
        .txt_wrap {
          display: flex;
          gap: 49rem;
          margin-bottom: 96rem;
          @include screen("mo") {
            flex-direction: column;
            gap: 20rem;
            margin-bottom: 60rem;
            br {
              display: none;
            }
          }
        }
      }
    }
    .main_brand_visual {
      position: relative;
      .txt_box {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        @include screen("mo") {
          position: static;
          display: block;
        }
        .tit {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          color: $color-white;
          font-weight: 700;
          padding: 0 182rem 32rem;
          @include screen("mo") {
            padding: 12rem 20rem 0;
            position: absolute;
            left: 0;
            top: 0;
          }
          span {
            flex-shrink: 0;
            white-space: nowrap;
          }
          i {
            width: 100%;
            height: 1px;
            background-color: $color-white;
            margin: 0 8rem;
            @include screen("mo") {
              margin: 0 5rem;
            }
          }
        }
        .txt {
          flex-shrink: 0;
          background-color: $color-bg;
          padding: 107rem 170rem;
          position: relative;
          width: 50%;
          @include screen("mo") {
            width: auto;
            padding: 38rem 43rem 0;
            margin: -122rem -1rem 0 117rem;
          }
        }
      }
    }
  }
  .main_tech {
    .tech_visual {
      position: relative;
      z-index: 1;
      .visual_wrap {
        padding-top: 138rem;
        overflow: hidden;
        position: relative;
        @include screen("mo") {
          padding: 185rem 7rem 0;
        }
        &::before {
          content: "";
          width: 1682rem;
          height: 1682rem;
          border-radius: 50%;
          background-color: $color-white;
          position: absolute;
          left: 50%;
          transform: translateX(-50%) scale(0);
          bottom: -553rem;
          transition: 1s ease;
          @include screen("mo") {
            width: 754rem;
            height: 754rem;
            bottom: -165rem;
          }
        }
        .mom_baby {
          width: 1122rem;
          margin: 0 auto;
          overflow: hidden;
          margin-bottom: -580rem;
          position: relative;
          @include screen("mo") {
            width: 362rem;
            max-width: 100%;
            margin-bottom: -106rem;
          }
        }
      }
      .leaf_box {
        @include screen("mo") {
          width: 362rem;
          max-width: 100%;
          height: 540rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
        }
        i {
          position: absolute;
          &.leaf1 {
            width: 304rem;
            top: 42rem;
            right: 119rem;
            @include screen("mo") {
              width: 93rem;
              top: -60rem;
              right: -45rem;
            }
          }
          &.leaf2 {
            width: 69rem;
            left: 145rem;
            top: 422rem;
            transform: rotate(-45deg);
          }
          &.leaf3 {
            width: 160rem;
            right: 639rem;
            top: 474rem;
            transform: rotate(-60deg);
            @include screen("mo") {
              width: 48rem;
              right: 48rem;
              top: 179rem;
            }
          }
          &.leaf4 {
            width: 87rem;
            left: 417rem;
            bottom: 628rem;
            transform: rotate(60deg);
            @include screen("mo") {
              width: 26rem;
              left: -9rem;
              bottom: auto;
              top: -28rem;
            }
          }
          &.leaf5 {
            width: 117rem;
            left: 260rem;
            bottom: 155rem;
            transform: rotate(135deg);
            @include screen("mo") {
              width: 73rem;
              left: 32rem;
              bottom: 200rem;
              transform: rotate(-141deg);
            }
          }
          &.leaf6 {
            width: 678rem;
            right: -80rem;
            bottom: -312rem;
            transform: rotate(-120deg);
            filter: blur(10px);
            @include screen("mo") {
              width: 204rem;
              right: -63rem;
              bottom: -95rem;
              filter: blur(4px);
            }
          }
          img {
            position: relative;
            top: 100rem;
            opacity: 0;
            transition: 1s ease, transform 0s;
          }
        }
      }
      &.aos-animate {
        .visual_wrap::before {
          transform: translateX(-50%) scale(1);
          transition-delay: 0.2s;
        }
        .leaf_box i img {
          top: 0;
          opacity: 1;
        }
      }
    }
  }
  .main_together {
    background-color: $color-black;
    color: $color-white;
    overflow: hidden;
    padding: 300rem 0;
    @include screen("mo") {
      padding: 120rem 0 155rem;
    }
    .section_tit .h3_ {
      font-size: 88rem;
      margin-top: 12rem;
      @include screen("mo") {
        font-weight: 500;
        font-size: 40rem;
        br {
          display: none;
        }
      }
    }
    .main_together_visual {
      padding-bottom: 180rem;
      @include screen("mo") {
        padding: 83rem 0 322rem;
      }
      position: relative;
      .circle_box {
        width: 1284rem;
        height: 1284rem;
        position: relative;
        margin: 0 auto;
        @include screen("mo") {
          width: 484rem;
          height: 484rem;
          left: 50%;
          transform: translateX(-50%);
        }
        .ball {
          position: absolute;
          border-radius: 50%;
          width: 32rem;
          height: 32rem;
          transform: scale(0);
          opacity: 0;
          transition: 1s ease;
          @include screen("mo") {
            width: 12rem;
            height: 12rem;
          }
          &.red {
            background-color: $color-red;
          }
          &.blue {
            background-color: $color-blue;
          }
          &.green {
            background-color: $color-green;
          }
          &.yellow {
            background-color: $color-yellow;
          }
          &.ball1 {
            top: 51rem;
            right: 269rem;
            width: 18rem;
            height: 18rem;
            @include screen("mo") {
              top: 19rem;
              right: 101rem;
              width: 7rem;
              height: 7rem;
            }
          }
          &.ball2 {
            top: 112rem;
            left: 493rem;
            @include screen("mo") {
              top: 44rem;
              left: 186rem;
            }
          }
          &.ball3 {
            top: 240rem;
            right: 456rem;
            @include screen("mo") {
              top: 93rem;
              right: 172rem;
            }
          }
          &.ball4 {
            top: 339rem;
            left: -49rem;
            @include screen("mo") {
              top: 157rem;
              left: 100rem;
            }
          }
          &.ball5 {
            left: 265rem;
            top: 417rem;
          }
          &.ball6 {
            right: 370rem;
            top: 460rem;
            @include screen("mo") {
              top: 170rem;
              right: 143rem;
            }
          }
          &.ball7 {
            top: 688rem;
            right: -92rem;
            width: 16rem;
            height: 16rem;
          }
          &.ball8 {
            top: 747rem;
            left: 112rem;
            @include screen("mo") {
              top: 282rem;
              left: 43rem;
            }
          }
          &.ball9 {
            bottom: 433rem;
            right: 257rem;
            @include screen("mo") {
              bottom: 163rem;
              right: 99rem;
            }
          }
          &.ball10 {
            bottom: 217rem;
            left: 283rem;
            @include screen("mo") {
              bottom: 81rem;
              left: 107rem;
            }
          }
          &.ball11 {
            bottom: 234rem;
            right: 271rem;
            @include screen("mo") {
              bottom: 88rem;
              right: 102rem;
            }
          }
          &.ball12 {
            left: 74rem;
            bottom: 145rem;
            width: 18rem;
            height: 18rem;
          }
        }
        .circle {
          width: 100%;
          height: 100%;
          border: 5rem dotted transparent;
          border-radius: 50%;
          opacity: 10%;
          transform: translate(-50%, -50%) scale(0.7);
          transition: 1s ease;
          @for $i from 1 to 4 {
            &.circle#{$i + 1} {
              width: 100 - $i * 17.4%;
              height: 100 - $i * 17.4%;
              opacity: $i * 33.3333%;
            }
          }
        }
        .logo_cymbol {
          width: 320rem;
          transform: translate(-50%, 0%);
          opacity: 0;
          transition: 1s ease;
          @include screen("mo") {
            width: 121rem;
          }
        }
      }
    }
    .txt_box {
      border-top: 1px solid $color-white;
      padding-top: 40rem;
      font-weight: 400;
      @include screen("mo") {
        padding-top: 28rem;
        p {
          position: relative;
          z-index: 1;
        }
      }
    }
    .hand_img {
      width: 906rem;
      position: absolute;
      right: calc(50% - 802rem);
      bottom: -89rem;
      transform: translateY(10%);
      opacity: 0;
      transition: 1s ease;
      @include screen("pc_more") {
      }
      @include screen("mo") {
        width: 548rem;
        right: -303rem;
        bottom: 45rem;
      }
    }
    &.on {
      .main_together_visual {
        .circle_box {
          .logo_cymbol {
            transform: translate(-50%, -50%);
            opacity: 1;
          }
          .circle {
            transform: translate(-50%, -50%) scale(1);
            border-color: $color-white;
            &.circle1 {
              transition-delay: 0.8s;
            }
            &.circle2 {
              transition-delay: 0.7s;
            }
            &.circle3 {
              transition-delay: 0.6s;
            }
            &.circle4 {
              transition-delay: 0.5s;
            }
          }
          .ball {
            transform: scale(1);
            opacity: 1;
            transition-delay: 1s;
          }
        }
      }
      .hand_img {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1.5s;
      }
    }
  }
  .main_innovation {
    position: relative;
    .sticky_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      @include screen("mo") {
        display: block;
        padding: 80rem 0 270rem;
        height: auto;
      }
      .innovation_bg {
        width: 322rem;
        height: 181rem;
        position: absolute;
        left: $layout_inner;
        top: calc(50% - 360rem);
        z-index: 10;
        overflow: hidden;
        @include screen("pc_more") {
          left: $layout_inner_pc_more;
        }
        @include screen("mo") {
          position: relative;
          left: -20rem;
          top: 0;
          width: calc(100% + 40rem);
          height: 100vh;
        }
        video {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          transform: scale(1.2);
          width: 100%;
          height: 100%;
          filter: brightness(1);
          @include screen("mo") {
            height: 188rem;
            width: calc(100% - 40rem);
            left: 20rem;
            transform: scale(1);
          }
        }
        p {
          font-size: 64rem;
          line-height: 1.35;
          width: 100%;
          text-align: center;
          transform: translateY(50%);
          opacity: 0;
          position: relative;
          color: rgba($color: $color-white, $alpha: 0.5);
          @include screen("mo") {
            font-size: 32rem;
            padding: 0 20rem;
          }
          strong {
            display: block;
            position: relative;
            transition: 1s ease;
            width: max-content;
            margin: 0 auto;
            background: linear-gradient(to right, #fff, #fff) no-repeat;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: 0%;
            transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
            @include screen("mo") {
              display: inline;
            }
          }
        }
      }
      .sub_tit4 {
        font-size: 20rem;
        @include screen("mo") {
          font-size: 14rem;
        }
      }
      .h3_ {
        margin: 108rem 0 60rem;
        line-height: 1.5;
        @include fontSize(80rem);
        @include screen("mo") {
          margin: 24rem 0 48rem;
          @include fontSize(40rem);
        }
        i {
          width: 352rem;
          display: inline-block;
        }
      }
      .h5_ {
        padding-top: 20rem;
        border-top: 1px solid $color-black;
        @include screen("mo") {
          margin-top: 60rem;
          padding-top: 24rem;
        }
        p {
          letter-spacing: 0;
        }
      }
    }
  }
}
