@charset "UTF-8";
.sustainability_wrap {
  overflow: hidden;
}

.sustainability_inner {
  position: relative;
  width: 100%;
  height: 100vh; /* 섹션의 높이 */
  font-size: 20rem;
  color: #000;
  background-color: #fff;
}
.sustainability_inner .sustainability_esg {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.sustainability_inner .sustainability_esg_contents {
  position: absolute;
  opacity: 0;
  width: 100%;
  text-align: center;
  color: #000;
}
.sustainability_inner .sustainability_esg_contents .esg_title {
  font-size: 500rem;
  font-weight: 700;
}
.sustainability_inner .esg_earth_wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sustainability_inner .esg_earth_wrap .sustainability_esg_contents {
  height: 100%;
}
.sustainability_inner .esg_earth_wrap .sensee_symbol_black {
  width: 480rem;
  height: 160rem;
}
.sustainability_inner .esg_earth_wrap .sustainability_earth_img {
  width: 140rem;
  height: 140rem;
}
.sustainability_inner .esg_earth_wrap #content4 .p_center {
  left: calc(50% + 161rem);
}
.sustainability_inner .esg_earth_wrap .sustainability_leaf_img {
  position: absolute;
  opacity: 0;
}
.sustainability_inner .esg_earth_wrap #leaf_img_01 {
  width: 304rem;
  height: 266rem;
  top: 0;
  right: 207rem;
}
.sustainability_inner .esg_earth_wrap #leaf_img_02 {
  width: 69.11rem;
  height: 60.25rem;
  top: 380rem;
  left: 5rem;
  transform: rotate(-45deg);
}
.sustainability_inner .esg_earth_wrap #leaf_img_03 {
  width: 160.7rem;
  height: 140.1rem;
  top: 467rem;
  left: 949rem;
  transform: rotate(-60deg);
}
.sustainability_inner .esg_earth_wrap #leaf_img_04 {
  width: 87.29rem;
  height: 76.1rem;
  top: 626rem;
  left: 266rem;
  transform: rotate(60deg);
}
.sustainability_inner .esg_earth_wrap #leaf_img_05 {
  width: 678rem;
  height: 594rem;
  bottom: -720rem;
  right: 70rem;
  transform: rotate(-120deg);
  filter: blur(10px);
}
.sustainability_inner .esg_earth_wrap #leaf_img_06 {
  width: 117rem;
  height: 102rem;
  bottom: -200rem;
  left: 109rem;
  transform: rotate(-135deg);
}

.sustainability_info {
  margin-top: 430rem;
}
.sustainability_info .info_wrap {
  padding-top: 295rem;
  padding-left: 336rem;
  padding-right: 336rem;
  display: flex;
  flex-direction: column;
}
.sustainability_info .info_contents {
  width: 462rem;
  display: flex;
  flex-direction: column;
  gap: 39rem;
}
.sustainability_info .info_contents .info_img {
  height: 611rem;
  width: 100%;
}
.sustainability_info .info_contents .info_txt .info_tit {
  font-size: 40rem;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 16rem;
}
.sustainability_info .info_contents .info_txt .info_desc {
  font-size: 16rem;
  font-weight: 600;
  line-height: 1.75;
}
.sustainability_info .environment_contents {
  align-self: flex-end;
}
.sustainability_info .social_contents {
  align-self: flex-start;
  margin-top: -185rem;
}
.sustainability_info .governance_contents {
  align-self: flex-end;
  margin-top: -149rem;
}

#content1 {
  opacity: 1;
} /* 첫 번째 컨텐츠를 초기에는 보이도록 설정 *//*# sourceMappingURL=sustainability.css.map */