/* Responsive */
/* Ellipsis */
.tech_container {
  overflow: hidden;
}
.tech_container .tech_solution {
  padding: 280rem 0 300rem;
}
@media (max-width: 750px) {
  .tech_container .tech_solution {
    padding: 120rem 0 160rem;
  }
}
.tech_container .tech_solution .section_tit {
  margin-bottom: 180rem;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .section_tit {
    margin-bottom: 60rem;
  }
}
.tech_container .tech_solution .section_tit .body_txt {
  margin: 80rem 0 0 50%;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .section_tit .body_txt {
    margin: 20rem 0 0 70rem;
  }
  .tech_container .tech_solution .section_tit .body_txt br {
    display: none;
  }
}
.tech_container .tech_solution .solution_compare {
  display: flex;
  flex-wrap: wrap;
}
.tech_container .tech_solution .solution_compare .compare_tit {
  font-size: 32rem;
  line-height: 1.25;
  font-weight: 700;
  padding-bottom: 20rem;
  border-bottom: 1px solid #000000;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .compare_tit {
    font-size: 24rem;
    padding-bottom: 16rem;
  }
}
.tech_container .tech_solution .solution_compare .existing_solution {
  width: 100%;
}
.tech_container .tech_solution .solution_compare .existing_solution .txt_box {
  padding-left: 50%;
  width: 100%;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_solution .txt_box {
    padding-left: 0;
  }
}
.tech_container .tech_solution .solution_compare .existing_solution .txt_box li {
  padding: 40rem 0;
  display: flex;
  font-weight: 700;
  line-height: 1.45;
  width: 100%;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_solution .txt_box li {
    padding: 32rem 0;
  }
}
.tech_container .tech_solution .solution_compare .existing_solution .txt_box li + li {
  border-top: 1px solid #d9d9d9;
}
.tech_container .tech_solution .solution_compare .existing_solution .txt_box li .tit {
  width: 138rem;
  flex-shrink: 0;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_solution .txt_box li .tit {
    width: 82rem;
  }
}
.tech_container .tech_solution .solution_compare .existing_solution .txt_box li .info {
  display: flex;
}
.tech_container .tech_solution .solution_compare .existing_solution .txt_box li .info p:first-child {
  font-weight: 400;
  width: 243rem;
  margin-right: 65rem;
  background: url(/src/images/common/arr.svg) no-repeat right 4rem/40rem auto;
  flex-shrink: 0;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_solution .txt_box li .info p:first-child {
    width: 129rem;
    margin-right: 30rem;
    background-size: 26rem auto;
    background-position-y: 6rem;
    padding-right: 28rem;
  }
}
.tech_container .tech_solution .solution_compare .existing_solution .img_box {
  margin-top: 128rem;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_solution .img_box {
    margin: 50rem 0 0 -33rem;
    overflow: hidden;
    min-width: 667rem;
  }
}
.tech_container .tech_solution .solution_compare .existing_value {
  width: 50%;
  margin-top: 94rem;
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_value {
    width: 100%;
  }
}
.tech_container .tech_solution .solution_compare .existing_value strong {
  font-size: 260rem;
  line-height: 1.5;
  background: url(/src/images/common/arr_weight.svg) no-repeat right top 93rem/81rem auto;
  padding-right: 103rem;
  display: block;
  width: 660rem;
  margin: 221rem auto 0;
  white-space: nowrap;
}
.tech_container .tech_solution .solution_compare .existing_value strong::after {
  content: "%";
}
@media (max-width: 750px) {
  .tech_container .tech_solution .solution_compare .existing_value strong {
    font-size: 130rem;
    background-size: 44rem auto;
    background-position-y: 46rem;
    padding-right: 44rem;
    width: max-content;
    margin-top: 68rem;
  }
}