@import "var";

.tech_container {
  overflow: hidden;
  .tech_solution {
    padding: 280rem 0 300rem;
    @include screen("mo") {
      padding: 120rem 0 160rem;
    }
    .section_tit {
      margin-bottom: 180rem;
      @include screen("mo") {
        margin-bottom: 60rem;
      }
      .body_txt {
        margin: 80rem 0 0 50%;
        @include screen("mo") {
          margin: 20rem 0 0 70rem;
          br {
            display: none;
          }
        }
      }
    }
    .solution_compare {
      display: flex;
      flex-wrap: wrap;
      .compare_tit {
        font-size: 32rem;
        line-height: 1.25;
        font-weight: 700;
        padding-bottom: 20rem;
        border-bottom: 1px solid $color-black;
        @include screen("mo") {
          font-size: 24rem;
          padding-bottom: 16rem;
        }
      }
      .existing_solution {
        width: 100%;
        .txt_box {
          padding-left: 50%;
          width: 100%;
          @include screen("mo") {
            padding-left: 0;
          }
          li {
            padding: 40rem 0;
            display: flex;
            font-weight: 700;
            line-height: 1.45;
            width: 100%;
            @include screen("mo") {
              padding: 32rem 0;
            }
            + li {
              border-top: 1px solid $color-gray2;
            }
            .tit {
              width: 138rem;
              flex-shrink: 0;
              @include screen("mo") {
                width: 82rem;
              }
            }
            .info {
              display: flex;
              p:first-child {
                font-weight: 400;
                width: 243rem;
                margin-right: 65rem;
                background: url(/src/images/common/arr.svg) no-repeat right 4rem /
                  40rem auto;
                flex-shrink: 0;
                @include screen("mo") {
                  width: 129rem;
                  margin-right: 30rem;
                  background-size: 26rem auto;
                  background-position-y: 6rem;
                  padding-right: 28rem;
                }
              }
            }
          }
        }
        .img_box {
          margin-top: 128rem;
          @include screen("mo") {
            margin: 50rem 0 0 -33rem;
            overflow: hidden;
            min-width: 667rem;
          }
        }
      }
      .existing_value {
        width: 50%;
        margin-top: 94rem;
        @include screen("mo") {
          width: 100%;
        }
        strong {
          font-size: 260rem;
          line-height: 1.5;
          background: url(/src/images/common/arr_weight.svg) no-repeat right top
            93rem / 81rem auto;
          padding-right: 103rem;
          display: block;
          width: 660rem;
          margin: 221rem auto 0;
          white-space: nowrap;
          &::after {
            content: "%";
          }
          @include screen("mo") {
            font-size: 130rem;
            background-size: 44rem auto;
            background-position-y: 46rem;
            padding-right: 44rem;
            width: max-content;
            margin-top: 68rem;
          }
        }
      }
    }
  }
}
